<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
<!--<span th:text="Testing"></span>-->
<!--<span th:text="${session.typeofuser}"></span>-->

	<h2>Welcome <span th:text="${session.emailid}"></span></h2>
<!-- 	<a th:href="@{/viewProductDetailsByCustomer}">View Product</a> | -->

<a th:href="@{/viewCategory}">View Categories </a>
<a th:href="@{/viewProduct}">| View Products </a>
<a th:if="${session.typeofuser} != null" th:href="@{/viewOrders}">| View Orders </a>
<a th:if="${session.typeofuser} == 'admin'" th:href="@{/findCustomers}">| Find customers </a>
<a th:if="${session.typeofuser} == 'admin'" th:href="@{/viewPurchaseReports}">| View Purchase Reports </a>
<a th:if="${session.typeofuser} == 'admin'" th:href="@{/changePassword}">| Change Password </a>
<a th:if="${session.typeofuser} == 'admin'" th:href="@{/changeUserRole}">| Change User Role </a>
<a th:if="${session.typeofuser} != null" th:href="@{/logout}">| Logout</a>
<a th:if="${session.typeofuser} == null" th:href="@{/}">| Login</a>  
</body>
</html>