<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>

<h2>View Orders</h2>

<span th:text="${msg}"></span>
<div th:if="${session.typeofuser} == null">
<a th:href="@{/home}">Go to home page</a> | 
<a th:href="@{/}">Please login to view your orders</a>
</div>
<div th:if="${session.typeofuser} != null">
<table border="1">
	<tr>
		<th>Order ID</th>
		<th>Customer's email ID</th>
		<th>Order Date</th>	
		<th>Product ID</th>
		<th th:if="${session.typeofuser} == 'customer'">Check Out Order</th>
	</tr>
	<tr th:each="ord:${orders}">
		<td th:text="${ord.orderid}"></td>
		<td th:text="${ord.emailid}"></td>
		<td th:text="${ord.orderplaced}"></td>
		<td th:text="${ord.productid}"></td>
<!-- 		<td><img th:src="${product.productimage}" width="50px" height="50px"/></td> -->
		<td th:if="${session.typeofuser} == 'customer'" ><a th:if="${ord.orderid} != 0" th:href="@{/checkOutOrder/{orderId} (orderId=${ord.orderid}) }">Check Out Order</a></td>
	</tr>
</table>
</div>
<br/>
<a th:href="@{/home}">Back</a>
</body>
</html>	